section {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.review-list {
  display: flex;
  background: #e0e5ec;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
  margin: 2% 8%;
  padding: 1.5%;
  gap: 2%;
}

#icon {
  display: flex;
  justify-content: center;
}

#icon img {
  width: 70%;
  height: 40%;
  border-radius: 100%;
}

.review-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.review-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.review-head p{
    margin-block-start: 0;
}

.gap-p {
  display: flex;
  gap: 15%;
  width: 10%;
  cursor: pointer;
}

.review-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  margin-bottom: 2%;
}

.review-desc {
  display: flex;
  align-items: center;
  text-align: justify;
}
